
*.gdoc
staro/
.gitattributes
.idea
*.zip
Seminarji/seminar2/Screenshot_1.png
Seminarji/seminar2/Screenshot (May 8, 2020 00_44_27).png
Seminarji/seminar2/Screenshot_2.png
Seminarji/seminar2/Screenshot_3.png
Seminarji/seminar2/Screenshot_4.png
Seminarji/seminar2/Screenshot_5.png
Seminarji/seminar2/Screenshot_6.png
Seminarji/seminar2/Selection_001.png
Seminarji/seminar2/unknown.png
Seminarji/seminar2/Seminar2/7.IN
Seminarji/seminar2/Seminar2/3.IN
Seminarji/seminar2/Seminar2/2.IN
Seminarji/seminar2/Seminar2/1.IN
Seminarji/seminar2/Screenshot_20200515_230530_com.google.android.gm.png
Seminarji/seminar3/image0.jpg
Seminarji/seminar3/Screen2shot_2.png
Seminarji/seminar3/Screenshot_1.png
Seminarji/seminar3/Screenshot_2.png
Seminarji/seminar3/Screenshot_3.png
Seminarji/seminar3/Screenshot_4.png
Seminarji/seminar3/Screenshot_5.png
Seminarji/seminar3/Screenshot_6.png
notes.txt
Screenshot_1.png
Screenshot_9.png
Screenshot_2.png
Selection_004.png
Selection_005.png
Selection_006.png
