
*.gdoc
staro/
.gitattributes
.idea
*.zip
Seminarji/seminar2/Screenshot_1.png
Seminarji/seminar2/Screenshot (May 8, 2020 00_44_27).png
Seminarji/seminar2/Screenshot_2.png
Seminarji/seminar2/Screenshot_3.png
Seminarji/seminar2/Screenshot_4.png
Seminarji/seminar2/Screenshot_5.png
Seminarji/seminar2/Screenshot_6.png
Seminarji/seminar2/Selection_001.png
Seminarji/seminar2/unknown.png
Seminarji/seminar2/Seminar2/7.IN
Seminarji/seminar2/Seminar2/3.IN
Seminarji/seminar2/Seminar2/2.IN
Seminarji/seminar2/Seminar2/1.IN
Seminarji/seminar2/Screenshot_20200515_230530_com.google.android.gm.png
Seminarji/seminar3/image0.jpg
Seminarji/seminar3/Screen2shot_2.png
Seminarji/seminar3/Screenshot_1.png
Seminarji/seminar3/Screenshot_2.png
Seminarji/seminar3/Screenshot_3.png
Seminarji/seminar3/Screenshot_4.png
Seminarji/seminar3/Screenshot_5.png
Seminarji/seminar3/Screenshot_6.png
notes.txt
Screenshot_1.png
Screenshot_9.png
Screenshot_2.png
Selection_004.png
Selection_005.png
Selection_006.png
desktop.ini
izpiski - short.docx
izpiski.docx
plonkic.pdf
predavanja/10. Predavanje - 04. 05. 2020.docx
predavanja/11. Predavanje - 11. 05. 2020.docx
predavanja/12. Predavanje - 18. 05. 2020.docx
predavanja/13. Predavanje - 25. 05. 2020.docx
predavanja/14. Predavanje - 01. 06. 2020.docx
predavanja/2. Predavanje - 24. 02. 2020.docx
predavanja/3. Predavanje - 02. 03. 2020.docx
predavanja/4. Predavanje - 09. 03. 2020.docx
predavanja/6. Predavanje - 23. 03. 2020.docx
predavanja/7. Predavanje - 30. 03. 2020.docx
predavanja/8. Predavanje - 06. 04. 2020.docx
predavanja/9. Predavanje - 20. 04. 2020.docx
predavanja/Neimenovani dokument.docx
Seminarji/seminar3/Selection_001.png
Seminarji/seminar3/Selection_0021.png
Seminarji/seminar3/Selection_0023.png
Seminarji/seminar3/Selection_007.png
Seminarji/seminar3/Selection_02202.png
Seminarji/seminar3/zapiski.txt
Predavanja aips2.docx
