
*.gdoc
staro/
.gitattributes
.idea
*.zip
Seminarji/seminar2/Screenshot_1.png
Seminarji/seminar2/Screenshot (May 8, 2020 00_44_27).png
Seminarji/seminar2/Screenshot_2.png
Seminarji/seminar2/Screenshot_3.png
Seminarji/seminar2/Screenshot_4.png
Seminarji/seminar2/Screenshot_5.png
Seminarji/seminar2/Screenshot_6.png
Seminarji/seminar2/Selection_001.png
Seminarji/seminar2/unknown.png
Seminarji/seminar2/Seminar2/Seminar2.py
Seminarji/seminar2/Seminar2/7.IN
Seminarji/seminar2/Seminar2/3.IN
Seminarji/seminar2/Seminar2/2.IN
Seminarji/seminar2/Seminar2/1.IN
